.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box{
  width: 60%;
  background-color: white;
  color: #282c34;
  padding: 20px;
}
#author{
  text-align: end;
  padding: 30px;
}
button{
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  margin: 10px;
  background-color: #282c34;
  color: white;
  border-radius: 2%;
}
#buttons{
  display: flex;
  justify-content: space-between;

}
#tweet-quote{
  font-size: large;
  color: white;
  
}

